body {
  margin: 0px;
  padding: 20px;
}

text {
  pointer-events: none;
}

a:link {
  color: #818811;
}

a:visited {
  color: #61624a;
}

#envelope {
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.naturecore {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1080px;
  min-width: 80%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  transition: opacity 2s;
  /* vertical-align: middle; */
  left: 50%;
  transform: translate(-50%, 0);
}

#naturecore-regular {
  z-index: 1;
  opacity: 1;
}

#naturecore-green {
  z-index: 0;
  opacity: 0;
}

.close {
  float: right;
  display: inline-block;
  padding: 2px 5px;
  background: #ddd;
  cursor: pointer;
  border-radius: 6px;
}

.island {
  cursor: pointer;
}

.overlay {
  z-index: 999;
  display: none;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.8em;
  border: 1px solid #dbdbd6;
  border-radius: 6px;
  box-shadow: 0 10px 10px rgba(0,0,0,.2);
  color: #555;
  background-color: #f2f2ed;
  padding: 1em;
  box-sizing: border-box;
  text-decoration: none;
  /* height: 140px; */
  /* height: auto; */
  width: 70%;
  min-height: 70%;
  max-height: 90%;
  /* vertical-align: middle; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
}

h1, h2, h3, h4 {
  line-height: 1em;
}

.story {
  margin-left: 2em;
  margin-right: 2em;
  padding: 1em;
}

footer {
  border-top: 1px solid #555;
  margin-top: 7em;
  font-size: 80%;
}

blockquote {
  font-style: italic;
  margin-left: 2em;
  padding-left: 2em;
  padding-right: 2em;
  border-left: 2px dotted #aaa;
}

.narrator {
  text-align: left;
  font-style: normal;
}

.narrator::before {
  content: "– ";
}
